*{
    margin: 0 auto;
    text-align: center;
    
}
img{
    width: 300px;
    height: 300px;
}
button{
    width: 150px;
    margin: 0 auto;
}
#imgSlider{
    display: flex;
    animation: carousel 10s infinite;
}
#jsSlider{
    display: flex;
}
.carousel{
    width: 300px;
    height: 300px;
    border: 5px solid lavender;
    overflow: hidden;
}
@keyframes carousel{
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(-2700px);
    }
}
